### PHP STUFF ###

# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
.DS_Store

# ignore Composer downloads
/vendor/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml

# keep config offline
config/dud.php
config/db-config.php
config/sample-config.php

### JAVASCIPT/NODE STUFF ###

node_modules
dist
